global:
  scrape_interval: 3s
  scrape_timeout: 3s

scrape_configs:
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
  - job_name: 'web-mvc-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['web-mvc-app:8080']
  - job_name: 'webflux-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'webflux-app:8080' ]
  - job_name: 'web-mvc-vt-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'web-mvc-vt-app:8080' ]
  - job_name: 'webflux-vt-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: [ 'webflux-vt-app:8080' ]

